*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

h1 {
    font-size: 44px;
    line-height: 54px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-size: 22px;
    line-height: 27px;
}

a {
    color: #2F281E;
    transition: color ease-in-out 0.3s;
}

a:hover {
    color: #FF9900;
}

img {
    max-width: 100%;
}


.header {
    padding: 0 0 70px;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}

.header .container {
    padding: 17px 120px;
}

.header-logo {
    float: left;
    margin: 0 auto;
    padding: 7px 99px 7px 0;
}

.nav {
    display: inline-block;
    padding: 9px 99px;
}

.nav-list {
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
}

.nav-item {
    display: inline-block;
    padding: 0 10px;
}

.nav-link {
    color: #828282;
    text-decoration: none;
}

.nav-item.active .nav-link,
.nav-link:hover {
    color: #FF9900;
}

.authorization {
    float: right;
}

.btn {
    border-radius: 4px;
    text-align: center;
    line-height: 20px;
    font-weight: 600;
    border: none;
    background-color: #FF9900;
    color: #FFFFFF;
    padding: 13px 39px;
    width: 180px;
}

.small-btn {
    padding: 13px 22px;
    width: 110px;
    padding: 13px 0;
}

.white-btn {
    padding: 12px 22px;
    width: 110px;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
    color: #2F281E;
    font-weight: 600;
    margin-right: 20px;
}


.hero-description {
    max-width: 500px;
    width: 100%;
    float: left;
    padding: 48px 56px 48px 0 ;
}

.hero-section .text-holder{
    font-size: 18px;
    line-height: 28px;
}

.get-started {
    width: 180px;
    height: 50px;
    line-height: 24px;
}

.hero-image {
    float: right;
    width: 644px;
}