.hero {
    margin-bottom: 70px;

.title {
   margin-bottom: 40px;

    @include media('>=768px') {
        font-size: 33px;
        margin-bottom: 50px;
    }
    
    @include media('>=1024px') {
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 70px;
    }
}
}


