*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $default-font;
    font-size: 16px;
    color: $black;
    margin: 0;
}

h1 {
    font-family: $secondary-font;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin: 0;
}

h2 {
    font-size: 24px;
    line-height: 21px;
    letter-spacing: 0.2px;
    margin: 0;
}

p {
    line-height: 28px;
    margin: 0 0 30px;
}

a {
    text-decoration: none;
    line-height: 19px;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}