// color 
$white: #fff;
$black: #16133D;
$semi-black: #0D0D0D;
$grey: #E5EAF4;
$semi-grey: #EFEEF3;
$green: #3DB370;
$blue: #7690A8;

//font 
$default-font: 'Roboto', sans-serif;
$secondary-font: 'Nunito Sans', sans-serif;