*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

a {
    transition: color ease-in-out 0.3s;
}

h1 {
    font-size: 44px;
    line-height: 54px;
    color: #2f281e;
    margin: 0 0 30px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    color:#2f281e;
    margin: 0 0 50px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2f281e;
}

p {
    margin: 0 0 40px;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    background: #FF9900;
    border-radius: 4px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #FFFFFF;
    padding: 12px;
    display: inline-block;
    width: 180px;
    text-decoration: none;
    border: 1px solid #FF9900;
    transition: all ease-in-out 0.3s;
}


.btn.btn-small {
    width: 110px;
    padding: 9px;
    font-weight: 600;
    font-family: 'Montserrat';
}

.btn.btn-transparent {
    width: 110px;
    padding: 9px;
    background-color: #FFFFFF;
    border-color: #8cd0e5;
    color: #2f281e;
    font-weight: 600;
    font-family: 'Montserrat';
}

.btn.btn-transparent:hover {
    border: 1px solid #ff9900;
    background-color: #ff9900;
    color: #fff;
}

.btn:hover {
    background-color: #FFFFFF;
    border-color: #8cd0e5;
    color: #2f281e;
}