.product-manager {
    
    .container {
        flex-direction: row-reverse;
    }

    .product-lists {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .product-item {
        padding-bottom: 30px;
        position: relative;
    }
    
    .product-item span {
        display: inline-block;
        width: calc(100% - 35px);
        padding-left: 65px;
    }
    
    .product-item::before {
        content: '\2713';
        display: inline-block;
        background-color: #ff9900;
        border-radius: 10px;
        width: 35px;
        height: 35px;
        margin-top: 7px;
        text-align: center;
        line-height: 35px;
        color:#FFFFFF;
        position: absolute;
        top: 0;
        left: 18px;
        transform: translate(-50%)
    }
}