.most-post {
    margin-bottom: 90px;

.item {
  margin-bottom: 50px;

  @include media('>=768px') {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
    
  @include media('>=1024px') {
  flex-direction: column;
  gap: 0;
  width: calc(50% - 10px);
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
    
    @include media('>=1024px') {
      flex-direction: column;
    }
  }
}
.content,
.img-holder {
  @include media('>=768px') {
  width: calc(50% - 10px);
  }
      
  @include media('>=1024px') {
    width: 100%;
  }
}

.content-desc {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.heading-holder {
        
 @include media('>=768px') {
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
  }
}

.heading-link {
  display: flex;
  align-items: center;

  @include media ('>=768px'){
    justify-content: center;
  }
}

.content-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.05em;
  text-align: start;
  padding-bottom: 20px;
  margin: 0;
}

.subtitle {
    color: $grey;
    padding-right: 10px;
}

.icon-Arrow-2 {
    color: $grey;
    font-size: 11px;
  }

.content-inner {
  @include media('>=1024px') {
    gap: 20px;
  }
}
.button-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

}



