*{
    padding: 0;
    margin: 0;
}
body {
    background: #3B3F45;
    font-family: 'Roboto', sans-serif;
}
li {
    list-style: none;
    background-color: #88839E;
}
ul {
    color: #ffffff;
    width: 100%;
}

span {
    padding-left: 5px;
}

.header {
    background-color: #4A4F56;
    color: #FF8984;
    text-align: center;
    padding: 19px 0 35px ;
}

.lists {
    margin-top: 20px;
}

.container {
    max-width: 534px;
    margin: 0 auto;
}

li {
    height: 30px;
    font-size: 24px;
    line-height: 21px;  
    background: #88839E;
    transition: all 1s ease-in;
    padding: 12px 10px;
}

li:nth-child(even) {
    background: #7A7593;
}

li:hover {
    background: #625E77;
    border: 3px solid #e5e5e5;
}

li span {
    font-size: 11px;
}

.lists-item {
    display: flex;
    align-items: center;
}
input[type=submit] {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    background: none;
    color: #FF8984;
    border: none;
}
.btn{
    display: flex;
}

ul + .btn {
    margin: 45px 0;
    padding: 10px 0;
    height: 40px;
    text-align: center;
    color: #FF8984;
    background: #4A4F56;
}
