@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-left: 40px;
}

h2 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:active {
    color:blue;
}
a:visited {
    color: grey;
}

ul,ol {
    list-style: none;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }

.avatar {
    width: 200px;
    border-radius: 50%;
    box-shadow: 4px 4px 14px rgba(0,0,0,0.25);
}

.info li {
    color: #86898f;
    margin: 0;
    font-style: italic;
    text-decoration: none;
}

.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h4 {
    margin-bottom: 10px;
    font-weight: 900;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.works {
    display: flex;
    justify-content: space-around;
}

.works-tabel {
    margin: 0;
    padding: 0;
}

.works-tabel li:first-child {
    font-weight: bold;

    margin-bottom: 15px;
}
.contact h2 {
    text-align: center;
}

