
nav  ul {
    margin: 0;
    padding: 0;
}

section {
    margin-top: 100px;
}


.images-browser {
    display: inline-block;
}

.images-browser>img {
    width: 50px;
    height: 50xpx;;
}

.images-holder {
    width: 100%;
}