// color
$black: #2F281E;
$white: #fff;
$light-black: #544837;
$orange: #FF9900;
$azure: #8cd0e5;
$footer-border-color: rgba(188, 208, 229, 0.496913);
// fonts
$default-font: 'Montserrat', sans-serif;
$btn-font: 'Poppins', sans-serif;




